<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.shop.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.hzq.shop.domain.Address" >
    <id column="addr_id" property="addrId" jdbcType="BIGINT" />
    <result column="cust_detail_id" property="custDetailId" jdbcType="BIGINT" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="detail_addr" property="detailAddr" jdbcType="VARCHAR" />
    <result column="receipt_name" property="receiptName" jdbcType="VARCHAR" />
    <result column="receipt_tel" property="receiptTel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    addr_id, cust_detail_id, province, city, county, detail_addr, receipt_name, receipt_tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from address
    where addr_id = #{addrId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from address
    where addr_id = #{addrId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hzq.shop.domain.Address" >
    insert into address (addr_id, cust_detail_id, province, 
      city, county, detail_addr, 
      receipt_name, receipt_tel)
    values (#{addrId,jdbcType=BIGINT}, #{custDetailId,jdbcType=BIGINT}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, #{detailAddr,jdbcType=VARCHAR}, 
      #{receiptName,jdbcType=VARCHAR}, #{receiptTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hzq.shop.domain.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        addr_id,
      </if>
      <if test="custDetailId != null" >
        cust_detail_id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="detailAddr != null" >
        detail_addr,
      </if>
      <if test="receiptName != null" >
        receipt_name,
      </if>
      <if test="receiptTel != null" >
        receipt_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addrId != null" >
        #{addrId,jdbcType=BIGINT},
      </if>
      <if test="custDetailId != null" >
        #{custDetailId,jdbcType=BIGINT},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="detailAddr != null" >
        #{detailAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiptName != null" >
        #{receiptName,jdbcType=VARCHAR},
      </if>
      <if test="receiptTel != null" >
        #{receiptTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzq.shop.domain.Address" >
    update address
    <set >
      <if test="custDetailId != null" >
        cust_detail_id = #{custDetailId,jdbcType=BIGINT},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="detailAddr != null" >
        detail_addr = #{detailAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiptName != null" >
        receipt_name = #{receiptName,jdbcType=VARCHAR},
      </if>
      <if test="receiptTel != null" >
        receipt_tel = #{receiptTel,jdbcType=VARCHAR},
      </if>
    </set>
    where addr_id = #{addrId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzq.shop.domain.Address" >
    update address
    set cust_detail_id = #{custDetailId,jdbcType=BIGINT},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      detail_addr = #{detailAddr,jdbcType=VARCHAR},
      receipt_name = #{receiptName,jdbcType=VARCHAR},
      receipt_tel = #{receiptTel,jdbcType=VARCHAR}
    where addr_id = #{addrId,jdbcType=BIGINT}
  </update>
</mapper>