<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.shop.dao.CustMapper">
	<resultMap id="BaseResultMap" type="com.hzq.shop.domain.Cust">
		<id column="cust_detail_id" property="custDetailId" jdbcType="BIGINT" />
		<result column="cust_sstatus" property="custSstatus" jdbcType="VARCHAR" />
		<result column="cust_pass_msg" property="custPassMsg" jdbcType="VARCHAR" />
		<result column="cust_pass_msg_answer" property="custPassMsgAnswer"
			jdbcType="VARCHAR" />
		<result column="cust_email" property="custEmail" jdbcType="VARCHAR" />
		<result column="cust_true_name" property="custTrueName"
			jdbcType="VARCHAR" />
		<result column="cust_identity" property="custIdentity"
			jdbcType="VARCHAR" />
		<result column="cust_tel" property="custTel" jdbcType="VARCHAR" />
		<result column="cust_sex" property="custSex" jdbcType="CHAR" />
		<result column="addr_id" property="addrId" jdbcType="BIGINT" />
		<result column="post_code" property="postCode" jdbcType="VARCHAR" />
		<result column="vip_lever" property="vipLever" jdbcType="INTEGER" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="login_pass" property="loginPass" jdbcType="VARCHAR" />
		<result column="cust_role" property="custRole" jdbcType="VARCHAR" />
		<result column="register_date" property="registerDate"
			jdbcType="DATE" />
		<result column="last_login_date" property="lastLoginDate"
			jdbcType="DATE" />
		<result column="is_activity" property="isActivity" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		cust_detail_id, cust_sstatus, cust_pass_msg, cust_pass_msg_answer, cust_email,
		cust_true_name,
		cust_identity, cust_tel, cust_sex, addr_id, post_code, vip_lever, login_name,
		login_pass,
		cust_role, register_date, last_login_date, is_activity
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from cust
		where cust_detail_id = #{custDetailId,jdbcType=BIGINT}
	</select>
	<select id="selectCustByMap" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from cust
		where 1=1  
		<if test="custSstatus != null">
				and cust_sstatus = #{custSstatus,jdbcType=VARCHAR}
			</if>
			<if test="custPassMsg != null">
				and cust_pass_msg = #{custPassMsg,jdbcType=VARCHAR}
			</if>
			<if test="custPassMsgAnswer != null">
				and cust_pass_msg_answer = #{custPassMsgAnswer,jdbcType=VARCHAR}
			</if>
			<if test="custEmail != null">
				and cust_email = #{custEmail,jdbcType=VARCHAR}
			</if>
			<if test="custTrueName != null">
				and cust_true_name = #{custTrueName,jdbcType=VARCHAR}
			</if>
			<if test="custIdentity != null">
				and cust_identity = #{custIdentity,jdbcType=VARCHAR}
			</if>
			<if test="custTel != null">
				and cust_tel = #{custTel,jdbcType=VARCHAR}
			</if>
			<if test="custSex != null">
				and cust_sex = #{custSex,jdbcType=CHAR}
			</if>
			<if test="addrId != null">
				and addr_id = #{addrId,jdbcType=BIGINT}
			</if>
			<if test="postCode != null">
				and post_code = #{postCode,jdbcType=VARCHAR}
			</if>
			<if test="vipLever != null">
				and vip_lever = #{vipLever,jdbcType=INTEGER}
			</if>
			<if test="loginName != null">
				and login_name = #{loginName,jdbcType=VARCHAR}
			</if>
			<if test="loginPass != null">
				and login_pass = #{loginPass,jdbcType=VARCHAR}
			</if>
			<if test="custRole != null">
				and cust_role = #{custRole,jdbcType=VARCHAR}
			</if>
			<if test="registerDate != null">
				register_date = #{registerDate,jdbcType=DATE}
			</if>
			<if test="lastLoginDate != null">
				and last_login_date = #{lastLoginDate,jdbcType=DATE}
			</if>
			<if test="isActivity != null">
				and is_activity = #{isActivity,jdbcType=VARCHAR}
			</if>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from cust
		where cust_detail_id = #{custDetailId,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.hzq.shop.domain.Cust">
		insert into cust (cust_detail_id, cust_sstatus, cust_pass_msg,
		cust_pass_msg_answer, cust_email, cust_true_name,
		cust_identity, cust_tel, cust_sex,
		addr_id, post_code, vip_lever,
		login_name, login_pass, cust_role,
		register_date, last_login_date, is_activity
		)
		values (#{custDetailId,jdbcType=BIGINT}, #{custSstatus,jdbcType=VARCHAR},
		#{custPassMsg,jdbcType=VARCHAR},
		#{custPassMsgAnswer,jdbcType=VARCHAR}, #{custEmail,jdbcType=VARCHAR},
		#{custTrueName,jdbcType=VARCHAR},
		#{custIdentity,jdbcType=VARCHAR}, #{custTel,jdbcType=VARCHAR}, #{custSex,jdbcType=CHAR},
		#{addrId,jdbcType=BIGINT}, #{postCode,jdbcType=VARCHAR},
		#{vipLever,jdbcType=INTEGER},
		#{loginName,jdbcType=VARCHAR}, #{loginPass,jdbcType=VARCHAR}, #{custRole,jdbcType=VARCHAR},
		#{registerDate,jdbcType=DATE}, #{lastLoginDate,jdbcType=DATE},
		#{isActivity,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.hzq.shop.domain.Cust">
		insert into cust
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="custDetailId != null">
				cust_detail_id,
			</if>
			<if test="custSstatus != null">
				cust_sstatus,
			</if>
			<if test="custPassMsg != null">
				cust_pass_msg,
			</if>
			<if test="custPassMsgAnswer != null">
				cust_pass_msg_answer,
			</if>
			<if test="custEmail != null">
				cust_email,
			</if>
			<if test="custTrueName != null">
				cust_true_name,
			</if>
			<if test="custIdentity != null">
				cust_identity,
			</if>
			<if test="custTel != null">
				cust_tel,
			</if>
			<if test="custSex != null">
				cust_sex,
			</if>
			<if test="addrId != null">
				addr_id,
			</if>
			<if test="postCode != null">
				post_code,
			</if>
			<if test="vipLever != null">
				vip_lever,
			</if>
			<if test="loginName != null">
				login_name,
			</if>
			<if test="loginPass != null">
				login_pass,
			</if>
			<if test="custRole != null">
				cust_role,
			</if>
			<if test="registerDate != null">
				register_date,
			</if>
			<if test="lastLoginDate != null">
				last_login_date,
			</if>
			<if test="isActivity != null">
				is_activity,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="custDetailId != null">
				#{custDetailId,jdbcType=BIGINT},
			</if>
			<if test="custSstatus != null">
				#{custSstatus,jdbcType=VARCHAR},
			</if>
			<if test="custPassMsg != null">
				#{custPassMsg,jdbcType=VARCHAR},
			</if>
			<if test="custPassMsgAnswer != null">
				#{custPassMsgAnswer,jdbcType=VARCHAR},
			</if>
			<if test="custEmail != null">
				#{custEmail,jdbcType=VARCHAR},
			</if>
			<if test="custTrueName != null">
				#{custTrueName,jdbcType=VARCHAR},
			</if>
			<if test="custIdentity != null">
				#{custIdentity,jdbcType=VARCHAR},
			</if>
			<if test="custTel != null">
				#{custTel,jdbcType=VARCHAR},
			</if>
			<if test="custSex != null">
				#{custSex,jdbcType=CHAR},
			</if>
			<if test="addrId != null">
				#{addrId,jdbcType=BIGINT},
			</if>
			<if test="postCode != null">
				#{postCode,jdbcType=VARCHAR},
			</if>
			<if test="vipLever != null">
				#{vipLever,jdbcType=INTEGER},
			</if>
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginPass != null">
				#{loginPass,jdbcType=VARCHAR},
			</if>
			<if test="custRole != null">
				#{custRole,jdbcType=VARCHAR},
			</if>
			<if test="registerDate != null">
				#{registerDate,jdbcType=DATE},
			</if>
			<if test="lastLoginDate != null">
				#{lastLoginDate,jdbcType=DATE},
			</if>
			<if test="isActivity != null">
				#{isActivity,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.hzq.shop.domain.Cust">
		update cust
		<set>
			<if test="custSstatus != null">
				cust_sstatus = #{custSstatus,jdbcType=VARCHAR},
			</if>
			<if test="custPassMsg != null">
				cust_pass_msg = #{custPassMsg,jdbcType=VARCHAR},
			</if>
			<if test="custPassMsgAnswer != null">
				cust_pass_msg_answer = #{custPassMsgAnswer,jdbcType=VARCHAR},
			</if>
			<if test="custEmail != null">
				cust_email = #{custEmail,jdbcType=VARCHAR},
			</if>
			<if test="custTrueName != null">
				cust_true_name = #{custTrueName,jdbcType=VARCHAR},
			</if>
			<if test="custIdentity != null">
				cust_identity = #{custIdentity,jdbcType=VARCHAR},
			</if>
			<if test="custTel != null">
				cust_tel = #{custTel,jdbcType=VARCHAR},
			</if>
			<if test="custSex != null">
				cust_sex = #{custSex,jdbcType=CHAR},
			</if>
			<if test="addrId != null">
				addr_id = #{addrId,jdbcType=BIGINT},
			</if>
			<if test="postCode != null">
				post_code = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="vipLever != null">
				vip_lever = #{vipLever,jdbcType=INTEGER},
			</if>
			<if test="loginName != null">
				login_name = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="loginPass != null">
				login_pass = #{loginPass,jdbcType=VARCHAR},
			</if>
			<if test="custRole != null">
				cust_role = #{custRole,jdbcType=VARCHAR},
			</if>
			<if test="registerDate != null">
				register_date = #{registerDate,jdbcType=DATE},
			</if>
			<if test="lastLoginDate != null">
				last_login_date = #{lastLoginDate,jdbcType=DATE},
			</if>
			<if test="isActivity != null">
				is_activity = #{isActivity,jdbcType=VARCHAR},
			</if>
		</set>
		where cust_detail_id = #{custDetailId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.hzq.shop.domain.Cust">
		update cust
		set cust_sstatus = #{custSstatus,jdbcType=VARCHAR},
		cust_pass_msg = #{custPassMsg,jdbcType=VARCHAR},
		cust_pass_msg_answer = #{custPassMsgAnswer,jdbcType=VARCHAR},
		cust_email = #{custEmail,jdbcType=VARCHAR},
		cust_true_name = #{custTrueName,jdbcType=VARCHAR},
		cust_identity = #{custIdentity,jdbcType=VARCHAR},
		cust_tel = #{custTel,jdbcType=VARCHAR},
		cust_sex = #{custSex,jdbcType=CHAR},
		addr_id = #{addrId,jdbcType=BIGINT},
		post_code = #{postCode,jdbcType=VARCHAR},
		vip_lever = #{vipLever,jdbcType=INTEGER},
		login_name = #{loginName,jdbcType=VARCHAR},
		login_pass = #{loginPass,jdbcType=VARCHAR},
		cust_role = #{custRole,jdbcType=VARCHAR},
		register_date = #{registerDate,jdbcType=DATE},
		last_login_date = #{lastLoginDate,jdbcType=DATE},
		is_activity = #{isActivity,jdbcType=VARCHAR}
		where cust_detail_id = #{custDetailId,jdbcType=BIGINT}
	</update>
</mapper>