<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.shop.dao.OrderItemsMapper" >
  <resultMap id="BaseResultMap" type="com.hzq.shop.domain.OrderItems" >
    <id column="order_item_id" property="orderItemId" jdbcType="VARCHAR" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="prod_price" property="prodPrice" jdbcType="REAL" />
    <result column="prod_vip_price" property="prodVipPrice" jdbcType="REAL" />
    <result column="order_date" property="orderDate" jdbcType="DATE" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="prod_id" property="prodId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_item_id, order_code, prod_price, prod_vip_price, order_date, points, prod_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_items
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_items
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hzq.shop.domain.OrderItems" >
    insert into order_items (order_item_id, order_code, prod_price, 
      prod_vip_price, order_date, points, 
      prod_id)
    values (#{orderItemId,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, #{prodPrice,jdbcType=REAL}, 
      #{prodVipPrice,jdbcType=REAL}, #{orderDate,jdbcType=DATE}, #{points,jdbcType=INTEGER}, 
      #{prodId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hzq.shop.domain.OrderItems" >
    insert into order_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderItemId != null" >
        order_item_id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="prodPrice != null" >
        prod_price,
      </if>
      <if test="prodVipPrice != null" >
        prod_vip_price,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="points != null" >
        points,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderItemId != null" >
        #{orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="prodPrice != null" >
        #{prodPrice,jdbcType=REAL},
      </if>
      <if test="prodVipPrice != null" >
        #{prodVipPrice,jdbcType=REAL},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="points != null" >
        #{points,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzq.shop.domain.OrderItems" >
    update order_items
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="prodPrice != null" >
        prod_price = #{prodPrice,jdbcType=REAL},
      </if>
      <if test="prodVipPrice != null" >
        prod_vip_price = #{prodVipPrice,jdbcType=REAL},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=DATE},
      </if>
      <if test="points != null" >
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=BIGINT},
      </if>
    </set>
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzq.shop.domain.OrderItems" >
    update order_items
    set order_code = #{orderCode,jdbcType=VARCHAR},
      prod_price = #{prodPrice,jdbcType=REAL},
      prod_vip_price = #{prodVipPrice,jdbcType=REAL},
      order_date = #{orderDate,jdbcType=DATE},
      points = #{points,jdbcType=INTEGER},
      prod_id = #{prodId,jdbcType=BIGINT}
    where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </update>
</mapper>