<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.shop.dao.ProductSortMapper" >
  <resultMap id="BaseResultMap" type="com.hzq.shop.domain.ProductSort" >
    <id column="sort_id" property="sortId" jdbcType="BIGINT" />
    <result column="sort_name" property="sortName" jdbcType="VARCHAR" />
    <result column="sort_desc" property="sortDesc" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    sort_id, sort_name, sort_desc, parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_sort
    where sort_id = #{sortId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_sort
    where sort_id = #{sortId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hzq.shop.domain.ProductSort" >
    insert into product_sort (sort_id, sort_name, sort_desc, 
      parent_id)
    values (#{sortId,jdbcType=BIGINT}, #{sortName,jdbcType=VARCHAR}, #{sortDesc,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hzq.shop.domain.ProductSort" >
    insert into product_sort
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="sortName != null" >
        sort_name,
      </if>
      <if test="sortDesc != null" >
        sort_desc,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sortId != null" >
        #{sortId,jdbcType=BIGINT},
      </if>
      <if test="sortName != null" >
        #{sortName,jdbcType=VARCHAR},
      </if>
      <if test="sortDesc != null" >
        #{sortDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzq.shop.domain.ProductSort" >
    update product_sort
    <set >
      <if test="sortName != null" >
        sort_name = #{sortName,jdbcType=VARCHAR},
      </if>
      <if test="sortDesc != null" >
        sort_desc = #{sortDesc,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
    </set>
    where sort_id = #{sortId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzq.shop.domain.ProductSort" >
    update product_sort
    set sort_name = #{sortName,jdbcType=VARCHAR},
      sort_desc = #{sortDesc,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT}
    where sort_id = #{sortId,jdbcType=BIGINT}
  </update>
</mapper>