<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzq.shop.dao.ShopCarMapper" >
  <resultMap id="BaseResultMap" type="com.hzq.shop.domain.ShopCar" >
    <id column="cart_id" property="cartId" jdbcType="BIGINT" />
    <result column="cust_detail_id" property="custDetailId" jdbcType="BIGINT" />
    <result column="prod_id" property="prodId" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, cust_detail_id, prod_id, num, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shop_car
    where cart_id = #{cartId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop_car
    where cart_id = #{cartId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hzq.shop.domain.ShopCar" >
    insert into shop_car (cart_id, cust_detail_id, prod_id, 
      num, add_time)
    values (#{cartId,jdbcType=BIGINT}, #{custDetailId,jdbcType=BIGINT}, #{prodId,jdbcType=BIGINT}, 
      #{num,jdbcType=INTEGER}, #{addTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.hzq.shop.domain.ShopCar" >
    insert into shop_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="custDetailId != null" >
        cust_detail_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=BIGINT},
      </if>
      <if test="custDetailId != null" >
        #{custDetailId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzq.shop.domain.ShopCar" >
    update shop_car
    <set >
      <if test="custDetailId != null" >
        cust_detail_id = #{custDetailId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=DATE},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzq.shop.domain.ShopCar" >
    update shop_car
    set cust_detail_id = #{custDetailId,jdbcType=BIGINT},
      prod_id = #{prodId,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=DATE}
    where cart_id = #{cartId,jdbcType=BIGINT}
  </update>
</mapper>